<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QuanLyCuaHangSachMiniConnection"
			 connectionString="Server=NGUYEN-HOANG-UY\SQLEXPRESS;Database=QuanLyCuaHangSachMini;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>